.wrapper {
    width: 22%;
    height: 425px;
    display: flex;
    flex-direction: column;
    margin: 0 1.5% 40px 1.5%;
    transition: transform 0.2s ease-in-out;
    border: 1px solid rgba(22, 24, 35, 0.1);

    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(254, 44, 85, 0.3);
        border: 2px solid rgba(254, 44, 85, 0.3);
    }
}

.img {
    max-width: 100%;

    &:hover {
        border-bottom: 1px solid rgba(254, 44, 85, 0.3);
    }
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
}

.name {
    font-weight: 500;
    margin-top: 10px;
}

.category {
    font-weight: 300;
}

.price {
}

.wrapper-price {
    width: 76px;
    display: flex;
    justify-content: space-between;
    padding-top: 2px;

    .price {
        text-decoration-line: line-through;
    }

    .sale {
        color: rgba(254, 44, 85, 1);
        font-weight: 600;
    }
}

.btn {
    margin-top: 4px;
    width: 60px;
    border: 2px solid rgba(22, 24, 35, 0.1);
    border-radius: 999px;

    cursor: pointer;

    &:hover {
        transform: scale(1.05);
        color: rgba(254, 44, 85, 1);
        border: 1px solid rgba(254, 44, 85, 1);
    }
}

.black {
    width: 16px;
    height: 16px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    .wrapper {
        width: 45%;
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        width: 100%;
    }
}
