.wrapper {
    margin: 60px 60px 0 60px;
}

.heading {
    margin-bottom: 40px;
    text-align: center;
}

.wrapper-form {
    position: relative;
    margin-top: -80px;
}

.form {
    width: 1320px;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 40px;
    scroll-behavior: smooth;
}

.form::-webkit-scrollbar {
    display: none;
}

.container {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    width: max-content;
}

.card {
    position: relative;
    width: 400px;
    height: 460px;
    background-color: rgba(22, 24, 35, 0.06);
}

.card + .card {
    margin-left: 60px;
}

.mark {
    position: absolute;
    font-size: 100px;
    font-weight: 800;
    color: rgba(22, 24, 35, 0.2);
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.img {
    width: 400px;
    z-index: 10;
    filter: drop-shadow(5px 10px 15px rgba(254, 44, 85, 0.3));
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.title {
    font-size: 20px;
}

.price {
    margin-top: 8px;
    font-weight: 500;
    font-size: 18px;
}

.description {
    margin-top: 100px;
    margin-bottom: 8px;
    opacity: 0;
}

.btn {
    opacity: 0;
}

.mark,
.img,
.title,
.price,
.description {
    transition: 0.5s;
}

.btn {
    transition: 1s;
}

.card:hover {
    .mark {
        color: rgba(254, 44, 85, 0.5);
    }

    .img {
        transform: translate(-5px, -120px) rotate(30deg);
    }

    .title {
        transform: translate(0, -32px);
    }

    .price {
        transform: translate(0, -38px);
    }

    .description {
        opacity: 1;
        transform: translate(0, -130px);
    }

    .btn {
        opacity: 1;
        transform: translate(0, -120px);
    }
}

.scroll-left-2,
.scroll-right-2 {
    font-size: 50px;
    color: rgba(254, 44, 85, 1);
    background-color: #fff;
    cursor: pointer;
}

.scroll-left-2 {
    position: absolute;
    top: 50%;
}

.scroll-right-2 {
    position: absolute;
    right: 0;
    top: 50%;
}

@media screen and (max-width: 1500px) {
    .scroll-left-2,
    .scroll-right-2 {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .wrapper-form {
        margin-left: -10px;
    }

    .card {
        width: 380px;
    }

    .card + .card {
        margin-left: 85px;
    }

    .mark {
        font-size: 80px;
        left: 10%;
    }

    .img {
        width: 360px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper-form {
        margin-left: -50px;
    }

    .card {
        width: 300px;
        height: 380px;
    }

    .card + .card {
        margin-left: 60px;
    }

    .mark {
        font-size: 60px;
        left: 15%;
    }

    .img {
        width: 300px;
    }
}
