.wrapper {
    margin: 20px 40px 40px 40px;
}

.title {
}

.product {
}

.add-product {
    display: flex;
    justify-content: space-between;

    input {
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.add {
    margin-left: 80%;
    margin-bottom: 20px;
}

.container {
}

.header {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-items: center;
    column-gap: 100px;
    text-align: center;
}

.img {
}

.name {
}

.delete {
    
}

.content {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-items: center;
    column-gap: 100px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 120px;
}

.img-detail {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.name-detail {
}

.fix-detail,
.delete-detail {
    background-color: #fff;
    color: rgba(254, 44, 85, 1);

    &:hover {
        color: #000;
    }
}


